.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background: blue;
  border: 1px solid darkblue;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  left: 50px;
  top: -1000px;
  position: relative;
  /* z-index: 3; */
}

.board {
  table-layout:fixed;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#cube .front {
  transform: 
    translateZ(100px);
}

#cube .back {
  transform: 
    rotateX(-180deg)
    translateZ(100px);
}

#cube .right {
  transform:
    rotateY(90deg)
    translateZ(100px);
}

#cube .left {
  transform:
    rotateY(-90deg)
    translateZ(100px);
}

#cube .top {
  transform:
    rotateX(90deg)
    translateZ(100px);
}

#cube .bottom {
  transform:
    rotateX(-90deg)
    translateZ(100px);
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #FFF;
  
  perspective: 1000px;
  perspective-origin: 50% 100%;
}

#cube {
  width: 100%;
  height: 100%;
  top: 100px;
  position: absolute;
  left: 430px;
  top: -20px;
  float: left;
  table-layout: fixed;
  transform-style: preserve-3d;
  z-index: 7;
  transition: transform 2s;
}

#cube:hover {
  cursor: pointer;
}

#cube div {
  background: hsla(0, 85%, 50%, 0.8);
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  border: 2px solid #ab1a1a;
  
  margin: 0 auto;  
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 50px 0;
}

.dot {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 15px;  
}

.front .dot1 { top: 85px; left: 85px; }
.back .dot1 { top: 45px; left: 45px; }
.back .dot2 { top: 125px; left: 125px; }
.right .dot1 { top: 45px; left: 45px; }
.right .dot2 { top: 85px; left: 85px; }
.right .dot3 { top: 125px; left: 125px; }
.left .dot1 { top: 45px; left: 45px; }
.left .dot2 { top: 45px; left: 125px; }
.left .dot3 { top: 125px; left: 45px; }
.left .dot4 { top: 125px; left: 125px; }
.top .dot1 { top: 45px; left: 45px; }
.top .dot2 { top: 45px; left: 125px; }
.top .dot3 { top: 85px; left: 85px; }
.top .dot4 { top: 125px; left: 45px; }
.top .dot5 { top: 125px; left: 125px; }
.bottom .dot1 { top: 45px; left: 45px; }
.bottom .dot2 { top: 45px; left: 85px; }
.bottom .dot3 { top: 45px; left: 125px; }
.bottom .dot4 { top: 125px; left: 45px; }
.bottom .dot5 { top: 125px; left: 85px; }
.bottom .dot6 { top: 125px; left: 125px; }


#pawn{
  background-image: url(https://www.iconfinder.com/data/icons/chess-26/128/2-512.png);
  position: absolute;
  left: 50px;
  right: 300px;
  top: 250px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

#snake-1{
  /* width: 230px;
  height: 20px; */
  position: absolute;
  left: 150px;
  top: 590px;
  transform: rotate(180deg);
  z-index: 3;
}

#snake-2{
  /* width: 230px;
  height: 20px; */
  position: absolute;
  left: 320px;
  top: 280px;
  transform: rotate(180deg);
  z-index: 3;
}

#snake-3{
  /* width: 230px;
  height: 20px; */
  position: absolute;
  transform: rotate(180deg);
  left: 600px;
  top: 350px;
  z-index: 3;
}


.ladder-1{
  position: relative;
  left: 460px;
  top: 360px;
  z-index: 3;
}

#ladder-2{
  position: relative;
  left: 550px;
  top: -350px;
  z-index: 3;
}

#ladder-3{
  position: relative;
  left: 140px;
  top: -660px;
  z-index: 3;
  /* transform: rotate(40deg); */
}

#matrix
{
    table-layout: fixed;
    width: 900px;
}